<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page de connexion</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleRegisterLogin.css') }}">
</head>
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center login-form-1">
            <h3>Connexion</h3>
            <form method="post">
                {% if email %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre mail *" name="email" value="{{ email }}" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Votre mot de passe *" name="password" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Connexion" />
                    </div>
                    <div class="form-group">
                        <a href="/register" class="ForgetPwd">Je n'ai pas de compte</a>
                    </div>
                {% else %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre mail *" name="email" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Votre mot de passe *" name="password" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Connexion" />
                    </div>
                    <div class="form-group">
                        <a href="/register" class="ForgetPwd">Je n'ai pas de compte</a>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% for er in error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    {{ er }}
                    <button type="button" class="close" data-dismiss="alert">
                        &times;
                    </button>
                </div>
            {% endfor %}
            {% for er in warning %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    {{ er }}
                    <button type="button" class="close" data-dismiss="alert">
                        &times;
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>