<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profile de {{ name }}</title>
    <script src="{{ url_for('static', filename='js/profil.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 text-center">
            <p>Tu es {{ name }}</p>
        </div>
        <div class="col-md-6 text-center">
            <button id="btnDeconnect" type="button" class="btn btn-outline-primary">Déconnexion</button>
            <button id="btnIndex" type="button" class="btn btn-outline-primary">Revenir au fil</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <div class="form-group">
                <input id="namePost" type="text" class="form-control" placeholder="Nom du post *" name="namePost" />
            </div>
            <div class="form-group">
                <input id="contentPost" type="text" class="form-control" placeholder="Contenu du post *" name="contentPost" />
            </div>
            <div class="form-group">
                <input id="btnPoster" type="submit" class="btn btn-outline-primary" value="Poster" />
            </div>
        </div>
    </div>
    <div id="post-container" class="row">
        {% if post %}
            {% for row in post %}
                <p>{{ row['NomPost'] }}  :  {{ row['DatePost'] }}</p>
            {% endfor %}
        {% else %}
            <div class="col-md-6 offset-md-3 text-center">
                <p>Tu n'as encore rien posté ! <a href="#">Poster</a></p>
            </div>
        {% endif %}
    </div>
</div>
</body>
</html>